*.class

# Package Files #
*.jar
*.war
*.ear

# misc.
*.bak
.directory

/app/nb-configuration.xml
/app/target/
/app/.idea/
/app/webapp.iml
/app/src/main/webapp/static/app/controller/*.js
/app/src/main/webapp/static/app/*.js

