<div ng-controller="ContactDetailsCtrl" class="ui form segment">
    <div class="field">
        <label>Name</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.name" type="text" placeholder="Name">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Address Line 1</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.addressLine1" type="text" placeholder="Address Line 1">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Address Line 2</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.addressLine2" type="text" placeholder="Address Line 2">
        </div>
    </div>
    <div class="field">
        <label>City</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.city" type="text" placeholder="City">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Province</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.province" type="text" placeholder="Province">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Postal Code</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.postalCode" type="text" placeholder="Postal Code">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Country</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.country" type="text" placeholder="Country">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Telephone No.</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.phoneNumber" type="text" placeholder="Telephone Number">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Email</label>

        <div class="ui labeled input">
            <input ng-model="contactDetails.email" type="text" placeholder="Email">

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>

    <!--Only to test. remove this later-->
    <!--div class="ui red submit button" ng-click="test()">Test</div-->
</div>