<form ng-controller="EditUserCtrl" class="form-horizontal" role="form">
    <div ng-show="isEmployee">
        <h4>Employee</h4>

        <div class="form-group">
            <label class="col-lg-2 control-label">Surname</label>

            <div class="col-lg-10">
                <input ng-model="user.surname" type="text" class="form-control" placeholder="Surname">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Initials</label>

            <div class="col-lg-10">
                <input ng-model="user.initials" type="text" class="form-control" placeholder="Initials">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Name referred by initials</label>

            <div class="col-lg-10">
                <input ng-model="user.name_referred_by_initials" type="text" class="form-control"
                       placeholder="Name referred by initials">
            </div>
        </div>
    </div>

    <div ng-show="isCustomer">
        <h4>Customer</h4>

        <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>

            <div class="col-lg-10">
                <input ng-model="user.customer_name" type="text" class="form-control" placeholder="Name">
            </div>
        </div>
    </div>

    <div ng-show="isVendor">
        <h4>Vendor</h4>

        <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>

            <div class="col-lg-10">
                <input ng-model="user.vendor_name" type="text" class="form-control" placeholder="Name">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Username</label>

        <div class="col-lg-10">
            <input ng-model="user.username" type="text" class="form-control" placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Password</label>

        <div class="col-lg-10">
            <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Confirm password</label>

        <div class="col-lg-10">
            <input ng-model="user.confirmPassword" type="password" class="form-control" placeholder="Confirm password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>

        <div class="col-lg-10">
            <input ng-model="user.email" type="email" class="form-control" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="checkbox">
                <label>
                    <input ng-model="user.state" type="checkbox"> Account activated
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Roles</label>

        <div class="col-lg-10 table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Role</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <select ng-model="userRole.type" class="form-control">
                            <option value="administrator">Administrator</option>
                            <option value="salesPerson">Sales Person</option>
                        </select>
                    </td>
                    <td>
                        <input ng-model="userRole.state" type="checkbox">
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">
                            <span ng-click="addRole()" class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="userRole in userRoles">
                    <td>{{ userRole.type }}</td>
                    <td>{{ userRole.state }}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button ng-click="save()" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
