<!DOCTYPE html>
<html lang="en" ng-app="main-app"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Open Source Sales Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/lib/sb-admin/css/bootstrap.css" rel="stylesheet"/>

    <!-- Add custom CSS here -->
    <link href="/static/lib/sb-admin/css/sb-admin.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/lib/sb-admin/font-awesome/css/font-awesome.min.css"/>
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="/static/lib/morris.js/morris.css"/>


    <!--OpenSMS includes-->
    <link rel="stylesheet" href="/static/lib/ngtable/css/ng-table.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OpenSms</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>

                <li class="dropdown" sec:authorize="hasAnyRole('create_user', 'edit_user')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>
                        User Management <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('create_user')"><a href="#/UserRegistration"> Register User</a></li>
                        <li sec:authorize="hasRole('edit_user')"><a href="#/UpdateUser/-1"> Edit User</a></li>
                        <li sec:authorize="hasRole('edit_user')"><a href="#/SearchUsers"> Search</a></li>
                    </ul>
                </li>

                <li sec:authorize="hasRole('customer')"><a href="#/PreOrder"><i class="fa fa-bar-chart-o"></i>
                    Add Pre Order</a></li>

                <li sec:authorize="hasRole('insert_item')"><a href="#/AddItem"><i class="fa fa-edit"></i>
                    Add New Item</a></li>

                <li sec:authorize="hasAnyRole('insert_item', 'edit_item', 'create_grn_order', 'edit_grn_order')">
                    <a href="#/AddProfit"><i class="fa fa-table"></i> Add Profit</a></li>

                <li sec:authorize="hasAnyRole('insert_item', 'edit_item')"><a href="#/AddCategory">
                    <i class="fa fa-desktop"></i> Add Category</a></li>

                <li sec:authorize="hasAnyRole('insert_item', 'edit_item')"><a href="#/AddUnit">
                    <i class="fa fa-font"></i> Add Unit</a></li>

                <li sec:authorize="hasRole('create_iis_order')"><a href="#/CreateIISOrder"><i class="fa fa-wrench"></i>
                    Create IIS Order</a></li>

                <li sec:authorize="hasRole('create_grn_order')"><a href="#/GrnOrder"><i class="fa fa-file"></i>
                    Create GRN Order</a></li>

                <li sec:authorize="hasRole('payment_vendor')"><a href="#/GrnPayment"><i class="fa fa-file"></i>
                    New GRN Payment</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown alerts-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('customer')"><a href="#/Reports/PreOrders"> Pre Orders</a></li>
                        <li sec:authorize="hasRole('customer')"><a href="#/Reports/GsrOrders"> Gsr Orders</a></li>

                        <li sec:authorize="hasRole('employee')"><a href="#/Reports/ItemDetails"> Item Details</a></li>
                        <li sec:authorize="hasRole('employee')"><a href="#/Reports/CustomerLocations"> Customer Locations</a></li>
                        <li sec:authorize="hasRole('employee')"><a href="#/Reports/EmployeeAttendance"> Employee Attendance</a></li>

                        <li sec:authorize="hasRole('vendor')"><a href="#/Reports/GrnOrders"> Grn Orders</a></li>
                    </ul>
                </li>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                        {{currentUser.username}} <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/UserProfile"><i class="fa fa-user"></i> Profile</a></li>
                        <li sec:authorize="hasRole('employee')"><a href="#/Reports/PersonalAttendance"> Attendance</a></li>
                        <li class="divider"></li>
                        <li><a href="/j_spring_security_logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>{{title}}</h1>
                <ol class="ab-nav breadcrumb" ng-controller="BreadcrumbCtrl">
                    <li class="active" ng-repeat="breadcrumb in breadcrumbs.getAll()"><i class="fa fa-dashboard"
                                                                                         ng-show="$first"></i>
                        <a href="#{{breadcrumb.path}}" ng-hide="$last"> {{breadcrumb.label}}</a><span ng-show="$last"> {{breadcrumb.label}}</span>
                    </li>
                </ol>
                <!--<div class="alert alert-success alert-dismissable">-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                    <!--Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>!-->
                    <!--Feel free-->
                    <!--to use this template for your admin needs! We are using a few different plugins to handle the-->
                    <!--dynamic tables-->
                    <!--and charts, so make sure you check out the necessary documentation links provided.-->
                <!--</div>-->
            </div>
        </div>
        <!-- /.row -->

        <div ng-view="" ng-cloak=""></div>


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->
<script src="/static/lib/sb-admin/js/jquery-1.10.2.js"></script>
<script src="/static/lib/sb-admin/js/bootstrap.js"></script>

<!-- Page Specific Plugins -->
<!--<script src="/static/lib/raphael/raphael-min.js"></script>-->
<!--<script src="/static/lib/morris.js/morris.min.js"></script>-->
<!--<script src="/static/lib/sb-admin/js/morris/chart-data-morris.js"></script>-->
<script src="/static/lib/sb-admin/js/tablesorter/jquery.tablesorter.js"></script>
<script src="/static/lib/sb-admin/js/tablesorter/tables.js"></script>

<!--OpenSMS includes-->
<script type="text/javascript" src="/static/lib/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/lib/angularjs/angular-breadcrumbs.min.js"></script>
<script type="text/javascript" src="/static/lib/angularstrap/angular-strap.min.js"></script>
<script type="text/javascript" src="/static/lib/ngtable/js/ng-table.js"></script>
<script type="text/javascript" src="/static/app/main-home.js"></script>

<script type="text/javascript" src="/static/app/controller/UserRegistrationCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/SearchUsersCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/UpdateUserCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/UserProfileCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/ItemInsertCtrl.js"></script>

<script type="text/javascript" src="/static/app/controller/employee/ItemListCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/GrnOrderCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/GrnPaymentCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/customer/PreOrderCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/CreateIISOrderCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/AddUnitCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/AddProfitCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/AddCategoryCtrl.js"></script>

<script type="text/javascript" src="/static/app/controller/reports/customer/PreOrdersCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/reports/employee/EmployeeAttendanceCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/reports/employee/ItemDetailsCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/reports/employee/CustomerLocationsCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/reports/employee/IisOrdersCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/reports/employee/PersonalAttendanceCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/reports/vendor/GrnOrdersCtrl.js"></script>

<!-- maps -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/lib/angular-gm/angular-gm.min.js"></script>
</body>
</html>