<!DOCTYPE html>
<html ng-app="main-app">
<head>

    <link rel="stylesheet" href="/static/lib/semantic_ui/css/semantic.min.css"/>
</head>
<body>
<h1>Hello world</h1>

<button class="ui button warning">Test button</button>

<ng-view>

</ng-view>


<script type="text/javascript" src="/static/lib/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/lib/semantic_ui/javascript/semantic.min.js"></script>

<script type="text/javascript" src="/static/lib/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/app/main.js"></script>
<script type="text/javascript" src="/static/app/controller/indexController.js"></script>
<script type="text/javascript" src="/static/app/controller/contactDetailsCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/registrationController.js"></script>
</body>
</html>