<!DOCTYPE html>
<html ng-app="main-app">
<head>

    <link rel="stylesheet" href="/static/lib/bs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/lib/bs/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
</head>
<body>

<div class="col-lg-6" style="margin: 20px">
    <ng-view>

    </ng-view>
</div>

<script type="text/javascript" src="/static/lib/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/lib/bs/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/lib/angularstrap/angular-strap.min.js"></script>
<script type="text/javascript" src="/static/app/main.js"></script>
<script type="text/javascript" src="/static/app/controller/indexController.js"></script>
<script type="text/javascript" src="/static/app/controller/contactDetailsCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/registrationController.js"></script>
<script type="text/javascript" src="/static/app/controller/editUserController.js"></script>
<script type="text/javascript" src="/static/app/controller/RegistrationWizardController.js"></script>
</body>
</html>