<!DOCTYPE html>
<html ng-app="main-app">
<head>

    <link rel="stylesheet" href="/static/lib/bs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/lib/bs/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/lib/ngtable/css/ng-table.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
</head>
<body>

<div class="col-lg-6" style="margin: 20px">
    <ng-view>

    </ng-view>
</div>

<script type="text/javascript" src="/static/lib/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/lib/bs/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/lib/angularstrap/angular-strap.min.js"></script>
<script type="text/javascript" src="/static/lib/ngtable/js/ng-table.js"></script>
<script type="text/javascript" src="/static/app/main.js"></script>
<script type="text/javascript" src="/static/app/controller/indexController.js"></script>
<script type="text/javascript" src="/static/app/controller/RegistrationWizardController.js"></script>
<script type="text/javascript" src="/static/app/controller/SearchUsersCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/UpdateUserCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/LoginCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/ItemInsertCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/customer/PreOrderCtrl.js"></script>
<script type="text/javascript" src="/static/app/controller/employee/CreateIISOrderCtrl.js"></script>
</body>
</html>