<form ng-controller="ItemCtrl" class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-lg-2 control-label">Item Id</label>

        <div class="col-lg-8">
            <input ng-model="item.itemId"  type="text" class="form-control" placeholder="Item id">
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Item Name</label>

        <div class="col-lg-8">
            <input ng-model="item.name"  type="text" class="form-control" placeholder="Item Name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Parent Category</label>

        <div class="col-lg-8 col-sm-6">

            <select  class="form-control">

                <option ng-repeat="parent in parentCategories" value="{{parent.categoryId}}">{{parent.category}}
                </option>
            </select>

        </div>

    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Child Category</label>

        <div class="col-lg-8 col-sm-6">

            <select ng-model="item.category.categoryId"  class="form-control">

                <option ng-repeat="child in categories" value="{{child.categoryId}}">
                    {{child.category}}
                </option>

            </select>

        </div>

    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Unit</label>

        <div class="col-lg-8 col-sm-6">

            <select  ng-model="item.unit.unitId"  class="form-control">

                <option ng-repeat="unit in units" value="{{unit.unitId}}">{{unit.unit}}</option>

            </select>

        </div>

    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Default profit type</label>


        <div class="col-lg-8 ">

            <select ng-model="profit"  class="form-control col-lg-4">

                <option value="MARGIN" >Margin</option>
                <option value="PERCENTAGE">Percentage</option>

            </select>
            <select  ng-model="item.defaultProfit.profitId"  class="form-control col-lg-4">

                <option ng-repeat="profit in profits" value="{{profit.profitId}}">{{profit.value}}</option>

            </select>


        </div>

    </div>


    <div class="form-group">

        <div class="col-lg-10">

            <button ng-click="addItem()" class="btn btn-default">Add Item</button>

        </div>

    </div>


</form>

