<div ng-controller="AddProfitCtrl">
    <div class="row">
        <fieldset>
            <legend>Profit</legend>
            <div class="form-group">
            <label class="col-lg-3 control-label">Value</label>

                <div class="col-lg-9">
                    <input ng-model="profit.value" ng-init="profit.value=0" type="number" min="0.0" max="9999999999.99" class="form-control" required/>
                </div>
            </div>

            <div class="form-group">
            <label class="col-lg-3 control-label">Type</label>
                <div class="col-lg-9">
                    <select ng-model="profit.type" ng-init="profit.type='PERCENTAGE'" class="form-control">
                        <option value="PERCENTAGE">Percentage</option>
                        <option value="MARGIN">Margin</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <br/>

    <div class="row">
        <button class="btn pull-right btn-default btn-primary" ng-click="save()">Add</button>
    </div>
</div>
