<div ng-controller="AddUnitCtrl">
    <div class="row">
        <fieldset>
            <legend>Category</legend>
            <div class="form-group">
            <label class="col-lg-3 control-label">Unit</label>

                <div class="col-lg-9">
                    <input ng-model="unit.unit" type="text" class="form-control" placeholder="Unit"/>
                </div>
            </div>
        </fieldset>
    </div>
    <br/>
    <br/>

    <div class="row">
        <button class="btn pull-right btn-default btn-primary" ng-click="save()">Add</button>
    </div>
</div>