<div ng-controller="CreateIISOrderCtrl">
    <div class="modal-header">
        <h3>IIS Order</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="btn-group">
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(0)}">Step 1</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}">Step 2</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(2)}">Step 3</button>
            </div>

            <div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">


                <div ng-switch-when="one">
                    <fieldset>
                        <h4>Select Sales Person</h4>

                        <div ng-show="salesEmployee.userId">
                            <br/>

                            <p>Selected Sales Person: ID: {{salesEmployee.userId}} Username: {{salesEmployee.username}}</p>

                            <br/>
                        </div>

                        <div class="form-group form-group-wizard">

                            <div class="col-lg-10">
                                <input ng-model="search.query" type="text" class="form-control" placeholder="Search">
                            </div>
                            <div class="col-lg-2">
                                <button ng-click="searchSalesPerson()" class="btn btn-default">Search</button>
                            </div>

                            <br/>
                            <br/>
                            <br/>

                            <div class="col-lg-12">
                                <table ng-table="salesPersonTableParams" class="table ng-table-responsive">

                                    <tr ng-repeat="user in users">
                                        <td data-title="'User ID'">
                                            {{user.userId}}
                                        </td>
                                        <td data-title="'Username'">
                                            {{user.username}}
                                        </td>
                                        <td data-title="'Name'">
                                            {{user.name}}
                                        </td>

                                        <td data-title="">
                                            <a class="btn btn-default btn-sm" ng-click="selectSalesPerson(user)">
                                                <span class="glyphicon glyphicon-edit"></span> Select
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </fieldset>

                </div>


                <div ng-switch-when="two">

                    <fieldset>
                        <h4>Pre Orders</h4>

                        <div class="form-group form-group-wizard">
                            <div class="col-lg-12">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Selected</th>
                                        <th>P-Order ID</th>
                                        <th>Customer</th>
                                        <th>Priority</th>
                                        <th>Items</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="preOrderModel in preOrderModels">
                                        <td><input type="checkbox" ng-model="preOrderModel.selected"></td>
                                        <td>{{ preOrderModel.preOrder.preOrderId }}</td>
                                        <td>{{ preOrderModel.preOrder.customer.name }}</td>
                                        <td>{{ preOrderModel.preOrder.priority }}</td>
                                        <td ng-click="show = !show">
                                            <button class="btn btn-sm" ng-show="!show">Show</button>
                                            <table ng-show="show">
                                                <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>Quantity</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="preOrderHasItem in preOrderModel.preOrderHasItemList">
                                                    <td>{{ preOrderHasItem.item1.name }}</td>
                                                    <td>{{ preOrderHasItem.quantity }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div ng-switch-when="three">
                    <fieldset>
                        <br>
                        <h4>Required Items</h4>

                        <div class="form-group form-group-wizard">
                            <div class="col-lg-12">

                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Item ID</th>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="requiredItem in requiredItems">
                                        <td>{{ requiredItem.item.itemId }}</td>
                                        <td>{{ requiredItem.item.name }}</td>
                                        <td>
                                            <input ng-model="requiredItem.quantity" type="number" min="0.0"
                                                   max="999999999999.999" class="form-control" required/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
        <a class="btn btn-primary" ng-click="handleNext()">{{getNextLabel()}}</a>
    </div>
</div>