<div ng-controller="ItemListCtrl">
    <form class="" role="form">
        <div class="form-group">
            <div class="col-lg-10">
                <input ng-model="searchString" type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2">
                <button ng-click="search()" class="btn btn-default">Search</button>
            </div>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
    <table ng-table="tableParams" class="table ng-table-responsive">

        <tr ng-repeat="item in items">
            <td data-title="'Item Id'">
                {{item.itemId}}
            </td>
            <td data-title="'Item Id'">
                {{item.itemId}}
            </td>
            <td data-title="'Name'">
                {{item.name}}
            </td>
            <td data-title="'unit'">
                {{item.unit}}
            </td>
            <td data-title="'Category'">
                {{item.category}}
            </td>
            <td data-title="'Parent Category'">
                {{item.category.parentCategory}}
            </td>
            <td data-title="">
                <a class="btn btn-default btn-sm" href="#/UpdateUser/{{user.userId}}">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>
            </td>
        </tr>
    </table>
</div>